body {

	background-color: whitesmoke;
}

#wrapper {

	width: 300px;
	height: auto;
	margin: auto;
	padding-top: 50px;
}

#calc-elements {

	background-color: #EFC373;
	width: auto;
	padding-bottom: 10px;

}

#output {

	margin:auto;
	width: 250px;
	background-color: white;

}

.col-md-3 {

	padding-top: 5px;
	padding-bottom: 5px;
	
}

button {
	width: 35px;
	height: 35px;
	text-align: center;
}

